fastapi
uvicorn
websockets
boto3
pymilvus==2.3.7
sentence-transformers
langchain
pypdf2
pdfplumber
python-docx
python-pptx
python-multipart
aiofiles
numpy
torch
transformers
dotenv
openai
python-dotenv
langchain_openai
python-jose
nltk
PyMuPDF
pymongo
langchain-community
asgiref
docx2python
redis
youtube-transcript-api
indic-transliteration
yt-dlp
deep-translator
rank-bm25
sentry-sdk  
tavily-python
bcrypt
email-validator
passlib
pydantic
phonenumbers
pydantic[email]
jwt
# edge-tts  # Replaced with AWS Polly
boto3  # AWS Polly for TTS with phonemes
phonemizer
g2p-en