fastapi
uvicorn
websockets
boto3
pymilvus
sentence-transformers
langchain
langgraph
pypdf2
python-docx
python-pptx
python-multipart
aiofiles
numpy
torch
transformers
dotenv
openai
python-dotenv
langchain_openai
python-jose
nltk
PyMuPDF
pymongo
langchain-community
asgiref
docx2python
redis
youtube-transcript-api
indic-transliteration
yt-dlp
faster-whisper
openai-whisper
translate
rank-bm25
sentry-sdk